<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="portaudio" version="0.19.1" targetFramework="native" />
  <package id="portaudio.redist" version="0.19.1" targetFramework="native" />
  <package id="wxWidgets" version="3.1.6-rc.1" targetFramework="native" developmentDependency="true" />
</packages>